#-------------------------------#
#           APP VARS            #
#-------------------------------#
BACKEND_ENV=dev                       # or prod defined by the launch script

#-------------------------------#
#         MAIL SERVICE          #
#-------------------------------#
EMAIL_SERVICE_KEY=
PASSPORT_BROKER_SERVICE_URL=passport-broker          # include http or https

#-------------------------------#
#           COUCHBASE           #
#-------------------------------#
COUCHBASE_HOST=couchbase
COUCHBASE_BUCKET=
COUCHBASE_USER=                     
COUCHBASE_PASSWORD=  
COUCHBASE_TOTAL_MEMORY_QUOTA=2048               

#-------------------------------#
#             MINIO             #
#-------------------------------#
MINIO_DOMAIN=minio
MINIO_REGION=af-south-1
MINIO_USER=
MINIO_PASSWORD=

#-------------------------------#
#           SECURITY            #
#-------------------------------#

ENCRYPTION_SECRET_KEY=
AUTH_SECRET_KEY=
REFRESH_TOKEN_KEY=
AUTH_ALGORITHM=HS256
EXPIRATION_TIME_MINUTES=15

#-------------------------------#
#        APP DOMAIN URLs        #
#-------------------------------#
FRONTEND_URL=
DOCUMENTATION_URL=


#-------------------------------#
#             DEPLOY            #
#-------------------------------#
CA_CERT_PATH=